* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, sans-serif;
}
#laptopFeatures {
  list-style-type: none;
}
.title {
  width: 100%;
  color: white;
  font-size: 13px;
  background-color: #2a2b2a;
  padding: 15px;
}
.container {
  display: flex;
}
.bank {
  flex: 1;
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  margin: 20px;
  padding: 15px;
  text-align: center;
}

.btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  border-radius: 6px;
}
.btn:hover {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn:active {
  transform: scale(0.93);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
#loanButton {
  background-color: #7d83ff;
}
#bankPayButton {
  background-color: #d4dcff;
}
#workingButton {
  background-color: #1affd5;
}
#loanPayButton {
  background-color: #7d83ff;
}
#buyNowButton {
  background-color: #007fff;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#chosenLaptopPrice {
  margin-top: 50px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.work {
  flex: 1;
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  margin: 20px;
  padding: 15px;
  text-align: center;
}
.laptops {
  flex: 1;
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  margin: 20px;
  padding: 15px;
  text-align: center;
}
#laptopsDropdown {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #a49f9c;
  border: solid 2px grey;
  border-radius: 10px;
}
#laptopsDropdown:hover {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.chosenLaptop {
  display: flex;
  justify-content: space-around;
  flex: 2;
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  margin: 20px;
  padding: 15px;
}